body{
    background-color: rgb(108, 135, 167);
}
.conteiner{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 70%;
}
.rigth{
    margin: 5px 30px 80px;
    display: grid;
    grid-template-columns: 300px;
}
.left{
    color: #fff;
    background-color: rgb(29, 70, 70);
    border-radius: 32px;
    border: 5px solid black;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(1fr 2fr 1fr );
    grid-template-rows: 160px repeat(1fr 1fr 1fr);
}
img{
    border-radius: 30%;
}
table,
td {
    border: 1px solid #333;
    font-size: 20px;
}
th{
    background-color: #333;
    color: #fff;
    font-size: 20px;
}
.divisores{
    color: #fff;
}
button{
text-decoration:none;
font-size: 20px;
color:#333333;
padding-top:15px;
padding-bottom:10px;
padding-left:40px;
padding-right:40px;
background-color:#FFD27D;
border-color: #d8d8d8;
border-width: 3px;
border-style: solid;
border-radius:35px;
}
button:active{
    background-color: rosybrown;
}
button:focus{
    outline: 0;
}
.lk{
    color: #fff;
    background-color: rgb(29, 70, 70);
    border-radius: 32px;
    border: 0.5px solid #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 1% 50%;
    grid-template-rows: 50px
}

